:root {
  --secondary-050: #FFFAEB;
  --secondary-100: #FCEFC7;
  --secondary-200: #F8E3A3;
  --secondary-300: #F9DA8B;
  --secondary-400: #F7D070;
  --secondary-500: #E9B949;
  --secondary-600: #C99A2E;
  --secondary-700: #A27C1A;
  --secondary-800: #7C5E10;
  --secondary-900: #513C06;

  --primary-050: #DCEEFB;
  --primary-100: #B6E0FE;
  --primary-200: #84C5F4;
  --primary-300: #62B0E8;
  --primary-400: #4098D7;
  --primary-500: #2680C2;
  --primary-600: #186FAF;
  --primary-700: #0F609B;
  --primary-800: #0A558C;
  --primary-900: #003E6B;

  --background: #36393f;
  --background-light: #2f3136;
}
