.form__two__cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--gap);

  input[type=checkbox] {
    width: 20px;
    margin-left: auto;
  }

  @media screen and (max-width: 800px) {
    & {
      margin: auto;
      grid-template-columns: 1fr;
    }
  }
}

.form__vertical {
  display: flex;
  flex-direction: column;

  & > * {
    flex: 1;
    width: 100%;
    margin-top: space(1);
  }
}

.secondary__actions {
  display: flex;
  justify-content: space-between;
}

input {
  border: none;
  background: var(--background);
  border-radius: 5px;
  padding: space(2);
  color: white;
}

input[type=submit] {
  background: var(--secondary-400);
  color: var(--secondary-900);
  font-weight: bold;
  width: 100%;
  margin-top: space(4);
}
