body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: var(--container);
  padding: space(4);
  margin: auto;
}

.card {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h1 {
  text-align: center;
  margin-bottom: space(4);
}

a {
  text-decoration: none;
  color: var(--primary-400);
}
