body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: #2C2F33;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: var(--container);
  padding: space(4);
  margin: auto;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.margin_right_auto {
  margin-right: auto;
}

.margin_left_auto {
  margin-left: auto;
}

h1 {
  text-align: center;
  margin-bottom: space(4);
}

a {
  text-decoration: none;
  color: var(--primary-400);
}
